table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 5px;
    font-size:15px;
}
th,td {
    padding: 0px;
}
body {
    font-size:20px;
}
#top-heading{
    font-size: 40px;
    margin: 0;
}
#top-subheading{
    font-size: 30px;
    margin: 0;
}
#top-links{
    font-size: 25px;
}
div.list{
    font-size: 15px;
}

a:link{
    font-size: 20px;
    color: green;
}
a:visited {
    color: purple;
}
a:active {
    color: red;
}
div{
    width:160px;
    border:1px solid grey;
    text-align:center;
    min-height:150px;
    height:auto;
    vertical-align:middle;
    padding:8px;
    float:left
}

