table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 5px;
    font-size:15px;
}
th,td {
    padding: 0px;
}
body {
    font-size:20px;
}
#top-heading{
    font-size: 40px;
}
#top-subheading{
    font-size: 30px;
}
#top-links{
    font-size: 25px;
}

a:link{
    font-size: 20px;
    color: green;
}
a:visited {
    color: purple;
}
a:active {
    color: red;
}

